<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="conStr" value="User ID=test1_user;Password=testuser;Persist Security Info=False;Initial Catalog=db_homey_biz;Data Source=192.168.10.10" />
		<add key="logFile" value="E:\Log\homey_bizF_v1\WebpageCaller\WebpageCaller.log"/>
		<add key="queuePath" value=".\private$\myTest6"/>
		<add key="queuePath_retry" value=".\private$\myTest5"/>
		<add key="encodeType" value="UTF-8"/>

		<add key="sleep" value="1"/>
		<add key="MaxCallingFailCnt" value="3"/>
		<add key="rcvTimeout" value="1"/>
		<add key="retryInterval" value="10"/>
	</appSettings>
</configuration>